/* Some CSS Setup - nothing to do with flexbox */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    background: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0") no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

a {
    color: white;
}

.cover {
    height: 100vh;
    width: 100%;
}

.flex-form input[type="submit"] {
    background: #FF5A5F;
    color: white;
}

.flex-form>* {
    /* input elements have border by default. We are resetting that here */
    border: 0;
    padding: 10px;
    background: white;
    line-height: 50px;
    font-size: 20px;
    border-radius: 0;
    outline: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
}

.flex-form>*:last-child {
    border-right: 0;
}

/*Flexbox Starts Here*/

.cover {
    display: flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.flex-form {
    border: 20px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
}